<!DOCTYPE html>
<html manifest="meanadminlte.appcache" ng-app="myAdmin">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="css/admin-site.min.css">
	<link rel="stylesheet" href="css/admin-style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition" ng-class="{'skin-purple sidebar-mini': admin, 'login-page': !admin}" ng-cloak>
	<div ng-if="admin" class="wrapper">
		<!-- Main Header -->
		<div ng-include="'Admin/partials/admin.header.html'"></div>
		<!-- Left side column. contains the logo and sidebar -->
		<div ng-include="'Admin/partials/admin.sidebar.html'"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" set-height>
			<div ng-view></div>
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<div ng-include="'Admin/partials/admin.footer.html'"></div>
	</div>
	<div ng-if="!admin" ng-class="{'login-box':!admin}" ng-view></div>
	<!-- ./wrapper -->

	<!-- REQUIRED JS SCRIPTS -->

	<!-- jQuery 2.2.3 -->
	<script src="js/admin-site.min.js"></script>
	<script src="js/admin.app.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
 </body>
 </html>